# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env
openssl-0.9.8zh.tar.gz
openssl-0.9.8zh/

# Virtual Environment
venv/
ENV/

# Uploaded and processed videos
static/uploads/*
static/processed/*
!static/uploads/.gitkeep
!static/processed/.gitkeep

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db 

#docker
.dockerignore
dockerfile
docker build -t watermarkaway .
docker run -d -p 5000:5000 watermarkaway